body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {

  .no-print,
  .sidebar,
  .navbar,
  .btn {
    display: none !important;
  }

  .card {
    border: none !important;
    box-shadow: none !important;
  }

  .print-only-table {
    display: block !important;
    width: 100%;
  }

  body,
  html,
  #root {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}